name: Optimize Images

on:
  push:
    branches:
      - main
    paths:
      - '**.jpg'
      - '**.jpeg'
      - '**.png'
      - '**.gif'
      - '**.webp'
      - '**.svg'

jobs:
  optimize:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Optimize Images
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          jpegQuality: '80'
          jpegProgressive: true
          pngQuality: '80'
          webpQuality: '80'
          ignorePaths: 'node_modules/**'
          compressOnly: true
